/* global.scss */
@import '@fortawesome/fontawesome-free/css/all.css';
@import "leaflet/dist/leaflet.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* 變數定義 */
:root {
  --color-bg: #d4e1d1;
  --color-primary: #3b5b4f;
  --color-accent: #f4f1ea;
  --color-text: #222;
}
