/* global.scss */
@import '@fortawesome/fontawesome-free/css/all.css';
@import "leaflet/dist/leaflet.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  &:hover {
    color: var(--color-secondary);
  }

}

/* 變數定義 */
:root {
  --color-bg: #ccddcc;
  --color-title: #111111;
  --color-subtitle: #557777;
  --color-primary: #557777;
  --color-secondary: #eeeedd;
  --color-accent: #eeeedd;
  --color-accent-dark: #333333;
  --color-text: #111111;
  --color-disabled-bg: #888888;
  --color-disabled: #aaaaaa;
  --color-btn-text: #ffffff;


  --color-danger: #ff4444;
  --color-warning: #ffbb33;
  --color-info: #33b5e5;
  --color-success: #00c851;
  --color-purple: #aa66cc;

  // --color-bg: #1a1a1a;
  // --color-primary: #333344;
  // --color-secondary: #555566;
  // --color-accent: #444444;
  // --color-text: #f1f1f1;
  // --color-disabled-bg: #555;
  // --color-disabled: #777;
  // --color-danger: #ff7777;
  // --color-warning: #ffcc66;
  // --color-info: #66d9ef;
  // --color-success: #33cc99;
  // --color-purple: #bb88dd;

  --color-nav-bg: #557777;
  --color-nav-text:  #cccccc;
  --color-nav-text-active: #ffffff;


}

html.dark {
  --color-bg: #1a1a1a;
  --color-title: #f1f1f1;
  --color-subtitle: #88aaaa;
  --color-primary: #557777;
  --color-secondary: #555566;
  --color-accent: #eeeedd;
  --color-accent-dark: #333333;
  --color-text: #f1f1f1;
  --color-disabled-bg: #555;
  --color-disabled: #777;
  --color-danger: #ff7777;
  --color-warning: #ffcc66;
  --color-info: #66d9ef;
  --color-success: #33cc99;
  --color-purple: #bb88dd;
}

.section-title {
  font-size: 32pt;
  color: var(--color-title);
  margin-bottom: 16px;
}



.mobile-page-base {


  .input, .textarea {
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color-accent);
    font-size: 16px;
    color: var(--color-accent-dark);
  }

  .textarea {
    resize: none;
  }

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  .container {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
  }
  .section-title {
    font-size: 32px;
    color: var(--color-text);
  }
  .subsection-title {
    font-size: 24px;
    color: var(--color-subtitle);
    margin-bottom: 8px;
  }
  .big-button {
    margin-top: 16px;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-btn-text);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

body {
  font-family: 'Source Serif Pro','Noto Serif JP', serif;
  button, input, textarea,select {
    font-family: 'Source Serif Pro','Noto Serif JP', serif;
  }
}
