/* global.scss */
@import '@fortawesome/fontawesome-free/css/all.css';
@import "leaflet/dist/leaflet.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  &:hover {
    color: var(--color-secondary);
  }
  &:visited {
    color: var(--color-purple);
  }
}

/* 變數定義 */
:root {
  --color-bg: #ccddcc;
  --color-primary: #557777;
  --color-secondary: #889988;
  --color-accent: #eeeedd;
  --color-text: #111111;
  --color-disabled-bg: #888888;
  --color-disabled: #aaaaaa;
  --color-danger: #ff4444;
  --color-warning: #ffbb33;
  --color-info: #33b5e5;
  --color-success: #00c851;
  --color-purple: #aa66cc;
}

.section-title {
  font-size: 32pt;
  color: var(--color-text);
  margin-bottom: 16px;
}

.mobile-page-base {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  .container {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
  }
  .section-title {
    font-size: 32px;
    color: var(--color-text);
  }
  .subsection-title {
    font-size: 24px;
    color: var(--color-primary);
    margin-bottom: 8px;
  }
  .big-button {
    margin-top: 16px;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

body {
  font-family: 'Source Serif Pro','Noto Serif JP', serif;
  button, input, textarea,select,option {
    font-family: 'Source Serif Pro','Noto Serif JP', serif;
  }
}
