/* global.scss */
@import '@fortawesome/fontawesome-free/css/all.css';
@import "leaflet/dist/leaflet.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* 變數定義 */
:root {
  --color-bg: #ccddcc;
  --color-primary: #557777;
  --color-accent: #eeeedd;
  --color-text: #111111;
}
